.header {
  color: black;
}

.dropdown {
    font-size: 1.5rem;
}

.login-header {
  margin: 0 3rem;
}

.login-form {
  margin-top: 5rem;
  width: 25%;
  transform: translateX(150%);
}

.login-label {
  font-weight: 600;
  font-size: larger;
  color: rgb(54, 163, 200);
}

.question-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    min-height: 50vh;
    margin: 7rem 0;
  }

.radio-buttons {
    margin-top: 10px;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin-bottom: 10px; 
}

.radio-button-container {
  flex-basis: 50%; 
  padding: 5px;
}

.radio-button {
  display: none; 
}

.custom-radio-button {
  display: inline-block;
  max-width: 20px; 
  min-width: 20px;
  max-height: 20px;
  min-height: 20px;
  background-color: #fff; 
  border: 2px solid black; 
  border-radius: 50%; 
  cursor: pointer;
  margin-right: .4rem;
}

.custom-radio-button.checked {
  background-color: #F6E71D; 
  border: 2px solid black;
  border-radius: 50%; 
  padding: 5px;
}

.custom-radio-button-label {
  display: inline-flex;
  align-items: center;
  margin-left: 5px; 
  cursor: pointer;
}

.question-header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
  margin-top: 1rem;
}  

.question-instruction {
  font-size: 1rem;
  text-align: center;
}

.question-form {
    display: flex;
    flex-direction: column;
    max-height: 500px; 
    overflow-y: auto;
    overflow-x: hidden;
    align-self: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    min-height: 70vh;
    min-width: 60vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(40%);
  }
.contact-info {
    display: flex;
    justify-content: center;
    height:3rem;
    font-size: 20px;
    width: 50%;
    margin-top: 2rem;
}

  .text-input {
    display: flex;
    height:3rem;
    font-size: 20px;
    width: 100%;
    margin-top: 10rem;
  }

  .question-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%
  }

  .error-message {
    color: red;
  }

  .progress-bar {
    height: 10px;
    background-color: #F6E71D !important;
    margin-bottom: 10px;
  }

  .full-width {
  width: 100%;
}
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* .prev-button,
  .next-button,
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }      */
  
  .prev-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .question-form {
      width: 90%;
      max-width: 400px; 
    }
  }
  
.landing {
  padding-top: 1rem;
  overflow-x: hidden;
}

  /* HERO */

  .hero {
    width: 100vw;
    padding-bottom: 8rem;
  }

  .clientHeroImg {
    width: 120%;
    height: auto;
    margin-top: 6rem;
    margin-left: -100%;
    z-index: -10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .contractorHeroImg {
    position: absolute;
    width: 400px;
    height: auto;
    margin-top: -10rem;
    margin-left: 40.8rem;
    z-index: -10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .contractorHeroH2 {
    margin-top: -0rem;
  }
  .contractorHeroParagraph {
    text-align: center  ;
    /* width: 80%; */
  }

  .hero-section {
    color: black;
    padding: 150px 0;
    text-align: center;
    margin-left: -3rem;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }

  .clientHeroParagraph {
    width: 70%;
    margin-top: 5rem;
  }
  
  .intro {
    transform: translateY(33%)
  }
  /* FOOTER  */

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
  }

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: black !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* Project Card */

.project-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
  bottom: 0;
  padding: 10px;
  font-weight: 600;
  text-shadow: 2px 2px 4px white;
}

.image-estimate-input {
  display: flex;
  transform: translateY(290%);
  transition: opacity 0.3s ease; 
  opacity: 0;
}
.project-card:hover .card-content {
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.project-card:hover .image-estimate-input {
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.card-img-responsive {
  max-width: 600px;
  min-width: 600px;
  max-height: 600px;
  min-height: 600px;
  height: auto;
}

.card-content {
  transform: translateY(-6%);
}

.upload-btn {
  margin-top: -7px;
}

.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 1px 10px 0px rgb(0, 0, 0, 1) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  background-color: white;
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: .9rem !important;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #F6E71D;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: black !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .hero-section img {
    margin-top: 3.5rem;
    margin-bottom: -5.6rem;
  }
}
.navbar-brand {
  margin-left: -1rem;
}

/* TAB */

.tab {
margin: 5rem 0
}

/* LOADING SPINNER  */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.spinner-container {
  position: relative;
  width: 100px; 
  height: 100px; 
  margin-top: 20px;
  transform: translate(-55px, -60px);
}

.spinner {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 12px solid #F6E71D;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  z-index: -10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Create Form  */
.formName {
  width: 20rem;
}

.createForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  overflow-x: hidden;
}

.create-form-instructions {
  font-size: small;
  transform: translateX(20.5%);
}

.removeBtn {
  height: 1.5rem;
  color: grey;
  margin-left: -1.5rem;
  margin-top: .3rem;
}

.formButtons {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.formButtons button{
  margin: 0 .5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.formInput {
  margin-left: 6rem;
}

.quesAttRow {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 520px) {
  .quesAttRow {
    flex-direction: column;
    width: 50vw;
  }

  .removeBtn {
    transform: translate3d(173px, -105px, 0);
  }
}

.formCards {
  margin: 0 2rem;
}

.formHeader {
  width: 100vw;
}

.selectedCard {
  box-shadow:0 4px 6px #F6E71D;
}

.formCard {
  transition: transform 0.3s ease; /* Optional: Add a transition effect */
}

.selectedCard {
  transition: transform 0.3s ease; /* Optional: Add a transition effect */
}

.formCard:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.selectedCard:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

/* Scale up on hover for the modal */
.form-modal {
  transition: transform 0.3s ease; /* Optional: Add a transition effect */
}

.form-modal:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.selectedText {
  color: green;
  text-align: left;
  transform: translateY(-140%);
}

.typewriter {
  text-align: left;
  z-index: 4;
}

.typewriter h1 {
  font-size: 3rem;
}

.Typewriter span {
  font-weight: 800;
}

.heroDescription {
  margin-top: -18rem;
  background-color: white;
}

.clientHeroImg img{
  position: relative;
  width: 200px;
  height: 100vh;
  transform: translateY(0%);
  box-shadow: 0px 4px 8px #F6E71D;
  width: 400px;
  height: auto;
}

@media only screen and (max-width: 390px) {
  .contractorTypewriter {
    transform: translateY(-15%);
  }
  .contractorHeroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    transform: translateY(60%);
    margin-left: 21%;
  };
  .clientTypewriter {
    transform: translateY(-10%);
  }
  .clientTypewriter {
    text-align: center;
    margin-bottom: 3rem;
  }
  .clientTypewriter h1 {
    font-size: 3rem;
  }
  .clientTypewriter h2 {
    font-size: 1.5rem;
  }
  .clientTypewriter p {
    text-align: center;
    margin-left: 20%;
    margin-top: 0%;
  }
  .clientHeroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    transform: translateY(-30%);
    margin-left: 21%;
  }
  .clientHeroParagraph {
    width: 60%;
  }
  .clientHeroDescription {
    margin-top: -50%;
  }
  .iconBar {
    margin-top: 50%;
    margin-bottom: -120%;
  }
  .question-header {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width:390px) and (max-width:575px) {
  .hero-section {
    padding-top: 0rem;
  }
  .clientIntro {
    padding-top: 10%;
  }
  .hero-section .clientHeroParagraph {
    transform: translateX(25%);
  }
  .typewriter {
    text-align: center;
    margin-bottom: 3rem;
  }
  .clientHeroImg {
    width: 50%;
    margin-left: 1%;
    transform: translateY(-15%);
  }
  .clientHeroDescription {
    margin-top: -50%;
  }
  .contractorHeroDescription {
    margin-top: 20%;
  }
  .contractorHeroImg {
    width: 42%;
    margin-left: -21%;
    transform: translateY(58%);
  }
  .create-question-form {
    transform: translateX(40%);
  }
  .iconBar {
    margin-top: 140%;
    margin-bottom: -180%;
  }
  .question-header {
    font-size: 1.5rem;
  }
  .radio-buttons {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contractorTypewriter h1, h2, p, .heroButtonContainer{
    text-align: left;
  }
}
@media only screen and (min-width: 576px) {
  .clientTypewriter h1, h2, p, .heroButtonContainer{
    text-align: left;
  }
}
@media only screen and (min-width: 575px) and (max-width:768px) {
    .clientIntro {
      width: 100%;
      transform: translate3d(-5%, -10%, 0);
      /* transform: translateX(-5%) */
    }
    .intro {
      transform: translateY(-5%);
      transform: translateX(-11%);
    }
    .clientHeroImg {
      width: 150%;
      margin-left: -30%;
      transform: translateY(25%);
    }
    .contractorHeroImg {
      transform: translateY(-20%);
      margin-left: 50%;
      width: 90%;
    }
    .contractorHeroParagraph {
      width: 90%;
      margin-top: 2rem;
      text-align: left;
    }
    .heroButtons {
      margin-top: 1rem;
    }
    .clientHeroButtons {
      height: 50%;
    }
    .clientHeroDescription {
      margin-top: -40%;
    }
    .contractorHeroDescription {
      margin-top: -20%;
    }
    .iconBar {
      margin-top: 20%;
      margin-bottom: -70%;
    }
    .question-header {
      font-size: 1.8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .hero-section p {
    font-size: 1.5rem;
  }
  .hero-section h1 {
    font-size: 3.5rem;
    text-align: left;
  }
  .clientTypewriter {
    transform: translateY(-15%);
  }
  .intro {
    transform: translateY(-0%);
  }
  .heroDescription {
    margin-top: 0rem;
  }
  .clientHeroImg {
    width: 140%;
    margin-left: -25%;
    transform:translateY(-11%);
  }
  .contractorHeroImg {
    width: 90%;
    margin-top: -10%;
    margin-left: 40%;
  }
  .clientHeroButtonContainer {
    text-align: left;
  }
  .contractorHeroParagraph {
    text-align: left;
    width: 80%;
  }
  .clientHeroDescription {
    margin-top: -30%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1679px) {
  .intro {
    transform: translateY(20%);
  }
  .contractorHeroImg {
    margin-left: 40%;
  }
  .clientHeroImg {
    width: 110%;
    margin-left: -43%;
    transform: translateY(15%);
  }
  .hero-section p {
    font-size: 1.5rem;
    text-align: left;
    width: 60%;
  }
  .hero-section h1 {
    font-size: 5rem;
  }
  .clientHeroDescription {
    margin-top: -15%;
  }
  .clientHeroButtonContainer {
    text-align: left;
  }
  .iconBar {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1679px) {
  .contractorTypewriter h1 {
    font-size: 5rem;
  }
  .contractorTypewriter p{
    text-align: left;
    width: 60%;
  }
  .clientTypewriter h1 {
    font-size: 5rem;
  }
  .clientTypewriter p{
    text-align: left;
    width: 60%;
  }
  .clientHeroImg {
    width: 120%;
    margin-left: -30%;
    margin-top: -2rem;
  }
  .contractorHeroImg {
    margin-bottom: -2rem;
    margin-left: 40%;
  }
  .clientHeroDescription {
    margin-top: -18%;
  }
  .hero-section {
    margin-top: -1rem;
  }
  .clientHeroButtons {
    margin-bottom: 4rem;
  }
  .clientHeroParagraph {
    margin-top: 4rem;
  }
  .clientHeroButtonContainer {
    text-align: left;
  }
}

.descriptionBlock {
  padding: 1rem 0rem;
  padding-top: 2rem;
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 1);
  background-color: white;
}

.descriptionBlock p {
  text-align: center;
}

.date {
  width: 12rem;
  height: 3rem;
  font-size: x-large;
}

.question-form-container {
  position: absolute;
  transform: translateX(0%);
  transition: transform .5s ease-in-out; /* Use transform for the entire container */
}

.question-form-container.slideRight {
  transition: left .5s ease-in-out; 
  left: -100%;
}

.question-form-container.slideLeft {
  transition: right .5s ease-in-out; 
  right: -100%;
}

.create-question-form {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 20px;
  min-height: 70vh;
  min-width: 70vw;
  max-width: 70vw;
  box-shadow: 0px 0px 10px #F6E71D;
}

.create-question-form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  transform: translateX(20%);
  transition: transform .5s ease-in-out; /* Use transform for the entire container */
}

.create-question-form-container.slideRight {
  transition: left .5s ease-in-out; 
  left: -100%;
}

.create-question-form-container.slideLeft {
  transition: right .5s ease-in-out; 
  right: -100%;
}

.slideRight {
  transform: translateX(-180%);
}
.slideLeft {
  transform: translateX(180%);
}
  
.formName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
}

.formInput.form-control {
  width: 105%;
}

@media only screen and (min-width: 1679px) {
  .formInput.form-control {
    width: 80%;
  }
  
  .contractorHeroImg img{
    margin-bottom: -2rem;
  }
}

.cardBody {
  min-height: 10rem;
}

.iconBar {
  transform: translateY(-90%);
}
