.request-login {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 2rem;
  }

.login-header { 
    color: rgb(54, 163, 200);
}

.contractor-form-header {
    color: rgb(54, 163, 200);
}

.admin-page {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 1rem;
}

.contractor-page {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 1rem;
}

.admin-header {
    margin-left: 2rem;
}

.contractor-form {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contractor-form h1 {
    display: flex;
    justify-content: center;
}

.contractor-form-input {
    width: 50%;
    height: 3.5rem;
    margin: 3rem 0;
    transform: translateX(50%);
}

.contractor-form-label {
    font-weight: 600;
    font-size: larger;
    color: rgb(54, 163, 200);
}

/* CONTACT PAGE */
.contact-page {
    width: 100vw;
    height: 94vh;
    background-color: rgb(54, 163, 200);
}

.contact-content {
    padding-top: 8rem;
}

.schedule-appt-header {
    margin: 5rem 0;
}

@media (max-width: 700px) {
    .schedule-appt-header {
        margin: 10rem 0;
    }
  }